<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vote Confirmation</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Thank you!</h4>
            <p>You have successfully cast your vote.</p>
            <hr>
            <!-- <p class="mb-0">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-check-circle" viewBox="0 0 16 16">
                    <path
                        d="M8.719 13.594c-.227.228-.52.338-.812.338s-.586-.11-.813-.337l-3.906-3.905a1.714 1.714 0 0 1 0-2.45 1.771 1.771 0 0 1 2.451 0l2.094 2.095 5.13-5.13a1.771 1.771 0 0 1 2.45 0 1.714 1.714 0 0 1 0 2.45l-6.72 6.72z" />
                </svg>
                Your vote has been counted.
            </p> -->
        </div>
    </div>

    <center>
        <script src="https://cdn.lordicon.com/lordicon-1.2.0.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/lomfljuq.json"
    trigger="loop"
    delay="1500"
    colors="primary:#109121"
    style="width:350px;height:350px">
</lord-icon>
<div class = 'container projects'>
    <h1>Your Vote has been counted</h1>
 <div class="overlay"></div>
 </div>
    </center>
    <!-- Bootstrap JS and dependencies (jQuery, Popper.js) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
</body>

</html>
